@import "../home/home.scss";
.about {
  background: var(--bg-color);
  min-height: 100vh;
}
.main-container {
  max-width: 120rem;
  width: 90%;
  margin: auto;
}
.heading_sec {
  display: block;
  margin-bottom: 9rem;
}
.heading_sec > .heading_sec_main {
  display: block;
  text-align: center;
  margin-bottom: 3rem;
  font-family: ubuntu;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
.heading_sec > .heading_sec_main::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 6px;
  background-color: #facf0f;
  border-radius: 5px;
  margin-top: 1.3rem;
  display: block;
  align-items: center;
}
.heading_sec > .heading_sec_sub {
  display: block;
  text-align: center;
  margin: 2rem 8rem;
  font-size: 1.3rem;
  color: #555;
  line-height: 1.5rem;
}
.sec-pad {
  padding: 4rem 0;
}

.about-content {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 5%;
  margin: 0 5%;
  font-family: robot;
}
.about-content_title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.about-content_details {
  font-size: 1.2rem;
  color: #666;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skills > .skill {
  padding: 0.8rem 1.8rem;
  margin-bottom: 1.3rem;
  margin-right: 1.3rem;
  background: rgba(153, 153, 153, 0.8);
  color: #666;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 5px;
}

/* --------------- btn class ---------------- */

.btn {
  background-color: var(--yellow-color);
  border: 3px solid var(--yellow-color);
  border-radius: 10px;
  padding: 1rem 3rem;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 5px;
  transition: transform 0.3s;
  box-shadow: 0px 0px 5px 1px;
}
.btn:hover {
  box-shadow: 2px 2px 10px 5px;
  transform: translateY(-10px);
  border: none;
}

.btn > a {
  font-family: var(--font-sans-pro);
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;
}
