@import "../Theme/global.scss";
@import "../assets/style/globle.scss";

header {
  height: 90px;
  background-color: $bg-color;
  box-shadow: 0 0 10px 1px;
  position: static;
  font-family: $font-family;

  .header_content {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;

    .brand_icon {
      img:hover + a {
        color: $font-hover-color;
        transition-duration: 0.4s;
      }
      a:hover {
        cursor: pointer;
        color: $font-hover-color;
        transition-duration: 0.4s;
      }
      a {
        text-decoration: none;
        margin-left: 1rem;
        font-size: 1.3rem;
        font-weight: 600;
      }
    }

    .bar_icon {
      cursor: pointer;
      display: none;
    }

    .navigation {
      ul {
        a {
          margin-right: 2rem;
          text-decoration: none;
          color: $font-color;
          font-weight: 600;

          &:hover {
            color: $font-hover-color;
            transition-duration: 0.4s;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  header {
    .bar_icon {
      display: flex !important;
      justify-content: center;
    }
    .navigation {
      display: none;
    }
  }
}
