@import "../Theme/global.scss";
@import "../assets/style/globle.scss";

header {
  height: 90px;
  background-color: $bg-color;
  box-shadow: 0 0 10px 1px;
  position: static;
  font-family: $font-family;
  font-family: "Ubuntu", sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  .header_content {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;

    .brand_icon {
      img:hover + a {
        color: $font-hover-color;
        transition-duration: 0.7s;
      }
      a:hover {
        cursor: pointer;
        color: $font-hover-color;
        transition-duration: 0.7s;
      }
      a {
        text-decoration: none;
        margin-left: 1rem;
        font-size: 1.3rem;
        font-weight: 600;
      }
    }

    .bar_icon {
      cursor: pointer;
      display: none;
    }

    .navigation {
      ul {
        a {
          margin-right: 1.5rem;
          margin-left: 1.5rem;
          text-decoration: none;
          color: $font-color;
          font-weight: 600;

          &:hover {
            color: $font-hover-color;
            transition-duration: 0.47s;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  header {
    .header_content {
      padding: 1rem 2rem;
    }
    .bar_icon {
      display: flex !important;
      justify-content: center;
    }
    .navigation {
      display: none;
    }
  }
}

@media only screen and (max-width: 376px) {
  .header_content {
    // display: flex;
    height: inherit;
    padding: 0.7rem 1.4rem;

    .brand_icon {
      // display: none !important;

      a {
        text-decoration: none;
        margin-left: 0.5rem;
        font-size: 1rem !important;
        // font-weight: 600;
      }
    }
  }
}
